<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.ui.startup">
      <startup class="org.eclipse.actf.model.internal.flash.proxy.ProxyStartup"/>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.actf.ui.preferences.RootPreferencePage"
            class="org.eclipse.actf.model.internal.flash.proxy.preferences.ProxyPreferencePage"
            id="org.eclipse.actf.model.flash.proxy.preferences.ProxyPreferencePage"
            name="%ProxyPreferencePage.name"/>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.actf.model.internal.flash.proxy.preferences.ProxyPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.actf.visualization.ui.views"
            class="org.eclipse.actf.model.internal.flash.proxy.ui.views.ProxyLogView"
            icon="icons/view16/proxylogview.gif"
            id="org.eclipse.actf.model.internal.flash.proxy.ui.views.ProxyLogView"
            name="%ProxyLogView.name"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.actf.model.flash.proxy.actionSet"
            label="Proxy Action Sets">
         <action
               class="org.eclipse.actf.model.internal.flash.proxy.ui.actions.DeleteCacheAction"
               id="org.eclipse.actf.model.flash.proxy.actions.DeleteCacheAction"
               label="%DeleteAction.name"
               menubarPath="file/cacheGroup"
               tooltip="%DeleteAction.tip"/>
      </actionSet>
   </extension>
      
 <extension point="org.eclipse.ui.viewActions">
    <viewContribution
          id="org.eclipse.actf.model.flash.viewerContribution1"
          targetID="org.eclipse.actf.visualization.flash.ui.views.FlashDOMView">
       <action
             class="org.eclipse.actf.model.internal.flash.proxy.ui.actions.OpenPreferencesAction"
             id="org.eclipse.actf.model.flash.proxy.action1"
             label="%ProxyPreferences"
             menubarPath="additions"/>
    </viewContribution>
    <viewContribution
          id="org.eclipse.actf.model.flash.viewerContribution2"
          targetID="org.eclipse.actf.model.internal.flash.proxy.ui.views.ProxyLogView">
       <action
             class="org.eclipse.actf.model.internal.flash.proxy.ui.actions.OpenPreferencesAction"
             id="org.eclipse.actf.model.flash.proxy.action2"
             label="%Preferences"
             menubarPath="additions"/>
    </viewContribution>
 </extension>
   

</plugin>
