<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
      <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.actf.model.ui.editors.ie.WebBrowserEditor"
            contributorClass="org.eclipse.actf.model.internal.ui.editors.ie.WebBrowserEditorContributor"
            extensions="html, htm, xhtml, mht"
            icon="icons/view16/browser.gif"
            id="org.eclipse.actf.model.ui.editors.ie.WebBrowserEditor"
            name="%browser.ie.title"/>
      </extension>
      <extension
            point="org.eclipse.ui.actionSets">
         <actionSet
               id="org.eclipse.actf.model.ui.editors.ie.actionSet"
               label="%browser.ie.title">
            <action
                  class="org.eclipse.actf.model.internal.ui.editors.ie.actions.LaunchBrowserAction"
                  id="org.eclipse.actf.model.ui.editors.ie.actions.launch"
                  definitionId="org.eclipse.actf.model.ui.editors.ie.actions.launch"
                  label="%browser.ie.launch"
                  icon="icons/view16/browser.gif"
                  toolbarPath="ACTF/browser"
                  style="push"/>
         </actionSet>            
      </extension>
</plugin>
