<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="WebBrowserEventListener" name="WebBrowserEventListener" schema="schema/WebBrowserEventListener.exsd"/>
      <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.actf.model.ui.editors.ie.editor.WebBrowserEditor"
            contributorClass="org.eclipse.actf.model.ui.editors.ie.editor.WebBrowserEditorContributor"
            default="true"
            extensions="html, htm, xhtml, mht"
            icon="icons/bl_24_02.gif"
            id="org.eclipse.actf.model.ui.editors.ie.editor.WebBrowserEditor"
            name="%browser.ie.title"/>
      </extension>
</plugin>
